
.icon-menu {
  @include font-size(30);
}

// Mobile Header
.site-header--mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: .5em 1em;
  overflow: hidden;
  z-index: 500;
  background: $para-teal;

  .admin-bar & {
    top: 2.875em;
  }

  .flexbox & {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint($bp-large) {
      display: none;
    }
  }
}

.mobile-header-left {
  float: left;

  .flexbox & {
    flex: 1 0 auto;
  }
}

.mobile-header-right {
  float: right;
}

.menu-button {
  display: inline-block;
  vertical-align: top;
  padding: .75em;
  color: #fff;
  line-height: 1;
  background-color: $para-orange;
  transition: background-color 500ms;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $para-orange;
  }

  svg {
    display: block;
    width: 1.375em;
    height: 1.1875em;
  }
}
