//
//  Footer
//-------------------------------------------------------

.site-footer {
  address{
    @include breakpoint($bp-med){
    margin-left: 2em;
    margin-bottom: 1em;
    }
  }
}


.primary-footer {
  @include clearfix;
  padding: 3em 0;
  background-color: $para-teal-dark;
  color: white;
  a{
    color: white;
  }
}


.footer-col-1{
  text-align: center;
  @include breakpoint($bp-large) {
    float: left;
    text-align: left;
  }
}

.footer-col-2{
  line-height: 12px;
  .imagebox{
    a{
    text-decoration: underline;
    }
  }
  @include breakpoint($bp-large) {
    float: right;
    width: 50%;
    padding-left: 0.5em;
    p{
      text-align: right;
    }
    .imagebox{
     display: block;
     cursor: pointer;
      }
    }
  }

.footer-address,
.footer-social {

  a {
  }
}

.footer-address {

}

.footer-social {
  text-align: center;

  @include breakpoint($bp-large) {
    text-align: right;
  }
}

.site-copyright {
  text-align: center;

  @include breakpoint($bp-large) {
    text-align: left;
  }
}

.imagebox {
  text-align: center;
  transition: ease .5s;
  @include breakpoint($bp-large) {
    display: inline-block;
    vertical-align: top;
  }

  svg {
    margin-bottom: -8px;
  }

  a {
    color: #fff;
    transition: opacity 500ms;
    transition: ease .5s;
    &:hover,
    &:focus {
      opacity: .75;
      transition: ease .5s;
      text-decoration: none !important;
    }
  }
}

.footer-fax-tel-email{
  span{
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      @include font-size(14);
      color: white;
  }
  p{
    margin: 0;
  }
}


.line{
  display: none;
  @include breakpoint($bp-large){
    background-color: white;
    height: 1px;
    width: 100%;
    display: block;
    margin-top: 0.7em;
    margin-bottom: 2em;
  }
}


input[type=email], input[type=password], input[type=text], input[type=tel], input[type=number], input[type=url], input[type=search], textarea{
  background-color: #f7f7f7;
  border: 2px solid #0090b2;
}
.gform_wrapper h3.gform_title{
  display: none;
}

.gform_wrapper .top_label .gfield_label{
  visibility: hidden;
}
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label{
  visibility: hidden;
}
.gform_wrapper.gform_wrapper input[type=text]{
  padding: 1em 2em !important;
}
.gform_wrapper textarea{
  padding: 1em 2em !important;
}

.footer-fax-tel-email a {
    @include font-size(14);
    &:hover{
      color: #dcdcdc;
      cursor: pointer;
    }
}



.footer-site-branding{
  .flexbox &{
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint($bp-med){
      justify-content: flex-end;
    }
  }
    img{
      margin-left: 7px;
      margin-bottom: -3px;
    }
}

.footer-col-1{
 .site-branding{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   @include breakpoint($bp-med){
     flex-direction: row;
     flex-direction: flex-end;
   }
     a{
  vertical-align: middle;
     }
     img{
       max-width: none;
     }
   }
}
