//
//  Header
//-------------------------------------------------------

.site-header {
  text-align: center;
  transition: all 250ms;
  z-index: 50;
  @include breakpoint($bp-med) {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    text-align: left;
    z-index: 100;
  }

  .admin-bar & {
    @include breakpoint($bp-med) {
      top: 2em;
    }
  }

  &.minify-header {

    @include breakpoint($bp-med) {
      padding: 0.7em 0;
    }
  }

  .wrap {
    position: relative;
  }
}

.site-header-top {
  position: absolute;
  right: 1em;
  top: 0;
}

.site-header-inner {
  @include clearfix;
  padding: 0em 0 0;
  &:after{
    content: "";
    display: block;
    background-color: red;
    position: absolute;
    bottom: 1px;
    left: 15px;
    right: 15px;
    padding: 0 1em;
  }

  .flexbox & {
    display: none;
    @include breakpoint($bp-large){
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.header-col-1 {
  .site-branding{
    margin-top: 2.7em;
  }
  @include breakpoint($bp-med) {
    float: left;
    width: 100%;
  }
}

.header-col-2 {
  @include breakpoint($bp-med) {
    float: right;
    border-bottom: 3px solid rgba(255,255,255,.50);
  }

  .flexbox & {
    @include breakpoint($bp-med) {
      flex: 1 0 auto;
    }
  }
}

.site-branding {
  a {
    display: inline-block;
    vertical-align: top;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: .75;
    }
  }

  svg,
  img {
    margin-top: 5px;
    display: block;
    @include breakpoint($bp-med){
      margin-top: 0;
    }
  }
}


.innerpage-header {
  position: static !important;
  background-color: $para-teal !important;

  .site-header-inner {
    &:after{
      content: none;
    }
  }
}


.top-menu-bar-phone{
  h5{
    @include font-size(21);
    color: white;
    text-transform: uppercase;
    font-family: $heading-font-family;
    font-weight: 500;
    span{
      color: $para-orange;
    }
  }
}


.innerpage-header{
  .site-branding{
    margin-top: 0;
  }
}
