/**
 * Paragon Colors
 */
/**
 * Defaults
 */
/**
 * Brand Colors
 */
/**
 * Typography Colors
 */
/**
 * Block Colors
 */
/*--------------------------------------------------------------------------
  REM to PX for Fonts
  http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
  Usage: @include font-size(13);
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
  Width, Margin and Padding Mixins
  - These calculate % using the famous RWD formula, target/context*100
--------------------------------------------------------------------------*/
/**
 * Utils
 * ---
 */
/**
 * Resets and Typography Utils
 * ---
 */
/**
 * Blocks
 */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 500px !important;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

/*
 *  Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.owl-nav {
  position: absolute;
  left: 43px;
  top: 40px; }

.owl-dots {
  display: none; }

.owl-next, .owl-prev {
  -webkit-transition: ease .5s;
  -o-transition: ease .5s;
  transition: ease .5s; }
  .flexbox .owl-next, .flexbox .owl-prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #5e235a !important; }
    .flexbox .owl-next:hover, .flexbox .owl-prev:hover {
      -webkit-transition: ease .5s;
      -o-transition: ease .5s;
      transition: ease .5s;
      background-color: #f26e26 !important; }

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  height: 50px;
  width: 50px;
  padding: 8px 12px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: lighter;
  line-height: 2;
  color: #333333;
  font-weight: 400 !important;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }
  *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

body.show-nav {
  overflow: hidden; }

.button,
input[type="submit"] {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  display: inline-block;
  vertical-align: baseline;
  border: 0 none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 500ms, background 500ms;
  -o-transition: color 500ms, background 500ms;
  transition: color 500ms, background 500ms;
  padding: .65em 0.8em;
  color: #fff;
  font-size: .9375em;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  background: #232323; }
  .button:hover, .button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    text-decoration: none; }
  .button:hover, .button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    color: black; }

.text-button {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  display: inline-block;
  vertical-align: baseline;
  border: 0 none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 500ms, background 500ms;
  -o-transition: color 500ms, background 500ms;
  transition: color 500ms, background 500ms; }
  .text-button:hover, .text-button:focus {
    text-decoration: none; }

.button-group {
  margin-top: -8px;
  margin-left: -8px; }
  .button-group .button {
    margin: 8px; }

.button--icon-1 {
  position: relative;
  padding-right: 2.9em;
  background-color: #5e235a;
  position: relative;
  font-size: 1em; }
  .button--icon-1:after {
    content: "";
    position: absolute;
    right: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 8px;
    width: 25px;
    background-image: url("../svg/icons/arrow-button.svg");
    background-repeat: no-repeat; }
  .button--icon-1:hover {
    color: white;
    background-color: #a91d53; }

.button--icon-3 {
  position: relative;
  padding-right: 3.2em;
  background-color: #0091b2;
  position: relative;
  font-size: 1em; }
  .button--icon-3:after {
    content: "";
    position: absolute;
    right: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 8px;
    width: 25px;
    background-image: url("../svg/icons/arrow-button.svg");
    background-repeat: no-repeat; }
  .button--icon-3:hover {
    color: white;
    background-color: #04b9e4; }

.button--icon-2 {
  position: relative;
  padding-right: 2.9em;
  padding-left: 0;
  background-color: white;
  color: #0091b2;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  font-size: 1em; }
  .button--icon-2:hover {
    -webkit-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
    color: #f26e26; }
  .button--icon-2 svg {
    position: absolute;
    right: 1em;
    top: 50%;
    -webkit-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #0091b2; }
  .button--icon-2:hover svg {
    color: #f26e26; }

/**
 * Block Bkg Colors
 */
.white {
  background-color: #fff; }

.orange {
  background-color: #f26e26;
  color: #fff; }
  .orange li,
  .orange p,
  .orange h1,
  .orange h2,
  .orange h3,
  .orange h4,
  .orange h5,
  .orange h6 {
    color: inherit; }
  .orange a {
    color: inherit;
    text-decoration: underline; }
    .orange a:hover, .orange a:focus {
      color: inherit; }
  .orange .button {
    color: inherit;
    text-decoration: none; }

.teal {
  background-color: #0091b2;
  color: #fff; }
  .teal li,
  .teal p,
  .teal h1,
  .teal h2,
  .teal h3,
  .teal h4,
  .teal h5,
  .teal h6 {
    color: inherit; }
  .teal a {
    color: inherit;
    text-decoration: underline; }
    .teal a:hover, .teal a:focus {
      color: inherit; }
  .teal .button {
    color: inherit;
    text-decoration: none; }

.teal-dark {
  background-color: #006072;
  color: #fff; }
  .teal-dark li,
  .teal-dark p,
  .teal-dark h1,
  .teal-dark h2,
  .teal-dark h3,
  .teal-dark h4,
  .teal-dark h5,
  .teal-dark h6 {
    color: inherit; }
  .teal-dark a {
    color: inherit;
    text-decoration: underline; }
    .teal-dark a:hover, .teal-dark a:focus {
      color: inherit; }
  .teal-dark .button {
    color: inherit;
    text-decoration: none; }

.purple {
  background-color: #5e235a;
  color: #fff; }
  .purple li,
  .purple p,
  .purple h1,
  .purple h2,
  .purple h3,
  .purple h4,
  .purple h5,
  .purple h6 {
    color: inherit; }
  .purple a {
    color: inherit;
    text-decoration: underline; }
    .purple a:hover, .purple a:focus {
      color: inherit; }
  .purple .button {
    color: inherit;
    text-decoration: none; }

.maroon {
  background-color: #a91d53;
  color: #fff; }
  .maroon li,
  .maroon p,
  .maroon h1,
  .maroon h2,
  .maroon h3,
  .maroon h4,
  .maroon h5,
  .maroon h6 {
    color: inherit; }
  .maroon a {
    color: inherit;
    text-decoration: underline; }
    .maroon a:hover, .maroon a:focus {
      color: inherit; }
  .maroon .button {
    color: inherit;
    text-decoration: none; }

.gray {
  background-color: #ebebeb; }

/**
 * Debug and Dev related classes
 */
/**
 * Utilities & Helpers
 */
.vh,
.screen-reader-text {
  position: absolute;
  border: 0 none;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); }
  .vh.focusable:active, .vh.focusable:focus,
  .screen-reader-text.focusable:active,
  .screen-reader-text.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.cf:after,
.clearfix:after {
  display: block;
  clear: both;
  content: ' '; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  margin-bottom: .5em;
  color: #232323;
  font-family: "Montserrat", sans-serif;
  font-weight: 400 !important;
  line-height: 1.2; }
  p + h1,
  ul + h1,
  ol + h1, p + .h1,
  ul + .h1,
  ol + .h1, p +
  h2,
  ul +
  h2,
  ol +
  h2, p + .h2,
  ul + .h2,
  ol + .h2, p +
  h3,
  ul +
  h3,
  ol +
  h3, p + .h3,
  ul + .h3,
  ol + .h3, p +
  h4,
  ul +
  h4,
  ol +
  h4, p + .h4,
  ul + .h4,
  ol + .h4, p +
  h5,
  ul +
  h5,
  ol +
  h5, p + .h5,
  ul + .h5,
  ol + .h5, p +
  h6,
  ul +
  h6,
  ol +
  h6, p + .h6,
  ul + .h6,
  ol + .h6 {
    margin-top: 1em; }

h1, .h1 {
  font-size: 3.25em;
  /* 4.3125em */
  font-weight: lighter;
  color: #006072; }

h2, .h2 {
  font-size: 2.375em;
  color: #0091b2;
  font-weight: lighter; }

h3, .h3 {
  font-size: 2.125em;
  /* 2.8125em */
  font-weight: 600;
  color: #5e235a; }

h4, .h4 {
  font-size: 1.75em;
  /* 2.3125em */
  font-weight: lighter;
  color: #006072; }

h5, .h5 {
  font-size: 1.125em;
  font-weight: 600;
  color: #a91d53; }

h6, .h6 {
  font-size: 1.3125em;
  /* paragraph intro text */
  color: #333333;
  font-weight: lighter;
  margin-bottom: 1.1em; }

b,
strong {
  font-weight: bold !important; }

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="url"],
input[type="search"],
textarea {
  padding: .5em .75em;
  border: 2px solid #232323;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #232323;
  -webkit-transition: border-color 250ms;
  -o-transition: border-color 250ms;
  transition: border-color 250ms; }
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    border-color: black;
    outline: 0 none; }

label {
  display: block; }

ol,
ul {
  margin-bottom: 1em; }

li {
  margin: 0; }
  li + li {
    margin-top: .5em; }

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-reset li + li {
    margin-top: 0; }

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav-list li {
    display: inline-block;
    vertical-align: top;
    margin: 0; }
    .nav-list li + li {
      margin-left: .75em; }

img,
video,
object {
  max-width: 100%;
  height: auto; }

figure {
  margin: 1em auto;
  max-width: 100%; }

figcaption {
  padding: 1em;
  font-size: .8125em; }

/**
 * Responsive iframe
 */
.flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .flexible-container iframe,
  .flexible-container object,
  .flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

table {
  margin-bottom: 1em;
  border: 1px solid #eee;
  border-collapse: collapse;
  border-spacing: 0; }

tr + tr td,
tr + tr th {
  border-top: 1px solid #eee; }

td,
th {
  padding: .5em 1em; }

th {
  font-weight: 700;
  text-align: center; }

td + td {
  border-left: 1px solid #eee; }

hr {
  margin: 3em 0;
  border: 0 none;
  width: 100%;
  height: 1px;
  background-color: #f8f7f5; }

address {
  font-style: normal; }

blockquote {
  border-radius: 8px;
  margin: 1em 0;
  padding: 2em; }
  blockquote p {
    margin: 0;
    font-size: 1.25em;
    font-style: italic; }
    blockquote p + p {
      margin-top: 1em; }

cite {
  display: block;
  margin-top: .5em;
  font-size: .8em;
  line-height: 1.2;
  font-style: normal; }
  cite:before {
    content: '\2013\2002'; }
  cite a {
    color: inherit;
    text-decoration: none; }
    cite a:hover, cite a:focus {
      color: inherit;
      text-decoration: none; }

/**
 * Inline Els
 */
a {
  color: #0091b2;
  text-decoration: none;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms; }
  a:hover, a:focus {
    color: #f26e26;
    text-decoration: none; }

a[href^="tel"],
a[href^="mailto"] {
  text-decoration: none;
  cursor: default;
  color: #232323; }
  a[href^="tel"]:hover, a[href^="tel"]:focus,
  a[href^="mailto"]:hover,
  a[href^="mailto"]:focus {
    color: #232323; }

.banner {
  width: 100%;
  padding: 2em 0;
  background-color: #ebebeb; }
  .banner:after {
    display: block;
    clear: both;
    content: ' '; }
  .banner .banner-box {
    position: relative; }
    .banner .banner-box .banner-image {
      text-align: center;
      padding-bottom: 2em; }
    .banner .banner-box .banner-title {
      padding: 5em 0 1em;
      text-align: center; }
      .banner .banner-box .banner-title .h1 {
        font-size: 3.25em;
        display: block;
        color: #006072;
        text-align: center;
        margin-bottom: 0.1em; }

#reply-title {
  margin-top: 1em; }

#respond {
  margin-top: 4em;
  border-radius: 7px;
  padding: 2em 3.5em; }

#respond input[type=text],
#respond input[type=email],
#respond input[type=url],
#respond textarea {
  width: 100%;
  outline: none;
  padding: 0.5em;
  margin: 5px 1px 3px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid #d1d1d1; }

#respond input[type=text]:focus,
#respond input[type=email]:focus,
#respond input[type=url]:focus,
#respond textarea:focus {
  margin: 5px 1px 3px 0px;
  -webkit-box-shadow: 0 0 5px #807f7f;
          box-shadow: 0 0 5px #807f7f;
  border: 1px solid #f2f2f2; }

ol.comment-list {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  text-indent: 0; }

ol.comment-list li.even {
  background: #fff; }

ol.comment-list li.odd {
  background: #f2f2f2; }

ol.comment-list li.comment {
  padding: 1em; }

ol.comment-list li.comment div.vcard img.avatar {
  float: right;
  margin: 0 0 1em 1em; }

ol.comment-list li.comment p {
  margin: 0 0 1em; }

ol.comment-list li.comment ul {
  list-style: square;
  margin: 0 0 1em 2em; }

ol.comment-list li.comment ol.children {
  list-style: none;
  margin: 1em 0 0 3em;
  text-indent: 0; }

#respond {
  background: #f2f2f2; }
  #respond a {
    color: #0091b2; }

#respond .required {
  color: #B20000; }

ol.comment-list li.comment div.comment-meta a {
  color: #0091b2; }

/**
 * Entry Content
 */
.entry-content,
.page-content {
  text-align: left; }
  .entry-content a,
  .page-content a {
    position: relative; }
    .entry-content a:after,
    .page-content a:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      height: 1px;
      -webkit-transition: border 500ms;
      -o-transition: border 500ms;
      transition: border 500ms; }
    .entry-content a:hover:after,
    .page-content a:hover:after {
      -webkit-transition: border 500ms;
      -o-transition: border 500ms;
      transition: border 500ms;
      border-bottom: none !important; }
  .entry-content .button--icon-3,
  .page-content .button--icon-3 {
    position: relative;
    padding-right: 3.2em;
    background-color: #0091b2;
    position: relative;
    font-size: 1em; }
    .entry-content .button--icon-3:after,
    .page-content .button--icon-3:after {
      content: "";
      position: absolute;
      right: 7px !important;
      left: auto !important;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      height: 8px;
      width: 25px;
      background-image: url("../svg/icons/arrow-button.svg");
      background-repeat: no-repeat; }
    .entry-content .button--icon-3:hover,
    .page-content .button--icon-3:hover {
      color: white;
      background-color: #04b9e4; }
  .entry-content p,
  .page-content p {
    font-size: 1em;
    line-height: 28px; }
  .entry-content ul,
  .page-content ul {
    list-style: none;
    padding-left: 16px;
    line-height: 31px; }
    .entry-content ul li,
    .page-content ul li {
      position: relative; }
      .entry-content ul li + li,
      .page-content ul li + li {
        margin-top: .15em; }
      .entry-content ul li:before,
      .page-content ul li:before {
        position: absolute;
        left: -1em;
        top: .825em;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #00b6db;
        content: ''; }

/**
 * Image Alignment
 */
.aligncenter,
.alignright,
.alignleft {
  display: block;
  margin: 1em auto; }

.page-id-12 .page-title {
  display: none !important; }

/**
 * Entry Footer
 */
.entry-footer:after {
  display: block;
  clear: both;
  content: ' '; }

.entry-footer .cat-links,
.entry-footer .tags-links {
  display: inline-block;
  vertical-align: top;
  width: 100%; }

.entry-footer .comments-link,
.entry-footer .edit-link {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  float: left; }
  .entry-footer .comments-link a,
  .entry-footer .edit-link a {
    display: block;
    padding: 1.5em 1.25em; }

.sharing {
  margin: 2em 0; }
  .sharing a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none; }
    .sharing a + a {
      margin-left: .15em; }

.nav-links:after {
  display: block;
  clear: both;
  content: ' '; }

.nav-links .nav-previous,
.nav-links .nav-next {
  width: 50%; }

.nav-links .nav-previous {
  float: left; }

.nav-links .nav-next {
  float: right; }

.nav-links a {
  display: block;
  padding: 2em; }

/**
 * Entry Header
 */
.entry-header .entry-meta {
  margin: 1em 0 2em; }

.l-grid {
  margin-top: -2em;
  margin-left: -2em; }

.l-grid-item {
  display: inline-block;
  vertical-align: top;
  margin-right: -5px;
  padding-top: 2em;
  padding-left: 2em;
  width: 100%; }

.homepage-hero {
  padding: 9em 0;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .homepage-hero:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #05718a;
    z-index: -3; }

.hero-content {
  text-align: left;
  margin-top: 2em; }
  .hero-content h1 {
    margin-top: 0.3em;
    font-size: 3em;
    line-height: 1.2;
    margin-bottom: .25em;
    color: white;
    font-weight: 400; }
  .hero-content h6 {
    font-size: 1.3125em;
    line-height: 130%;
    margin-bottom: 1em;
    font-weight: lighter;
    color: white;
    font-weight: 400; }

.homepage-mobile-hero-content {
  display: block !important;
  background-color: #0091b2; }
  .homepage-mobile-hero-content .hero-content {
    margin-top: 0; }
    .homepage-mobile-hero-content .hero-content h1 {
      margin-top: 0; }

.para-hide {
  display: none !important; }

video.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  background: url(../video/poster.jpg) no-repeat;
  background-size: cover;
  max-width: none; }

.hero-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(65, 145, 161, 0.82);
  z-index: -1; }

.button-block {
  margin: -.5em 0;
  text-align: center; }
  .button-block .callout-header,
  .button-block .callout-body {
    padding: .5em 0; }
  .flexbox .button-block .callout-header h2 {
    margin: 0; }

.button-callout-content {
  width: 100%; }
  .button-callout-content p {
    margin: 0 0 1em 0;
    font-size: 1.1875em;
    line-height: 1.2; }

.callout-block {
  background-color: #ebebeb;
  padding: 1em 0; }
  .callout-block .wrap {
    position: relative; }
    .callout-block .wrap .callout-image-block {
      width: 100%;
      height: 520px;
      margin: auto;
      position: relative; }
      .flexbox .callout-block .wrap .callout-image-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .flexbox .callout-block .wrap .callout-image-block svg {
          width: 260px; }
        .flexbox .callout-block .wrap .callout-image-block .callout-image {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          text-align: left; }
          .flexbox .callout-block .wrap .callout-image-block .callout-image .callout-heading {
            margin: auto; }
            .flexbox .callout-block .wrap .callout-image-block .callout-image .callout-heading h2 {
              position: relative;
              color: white;
              margin-bottom: 0.1em;
              font-weight: 400; }
            .flexbox .callout-block .wrap .callout-image-block .callout-image .callout-heading svg {
              position: relative; }
    .callout-block .wrap .callout-content-block {
      width: 100%;
      height: auto;
      background-color: white;
      z-index: 2;
      margin: auto;
      text-align: left;
      position: relative;
      margin-top: 1em;
      font-family: "Montserrat", sans-serif; }
      .flexbox .callout-block .wrap .callout-content-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .flexbox .callout-block .wrap .callout-content-block .carousel-content {
          margin: 0 auto 3em;
          padding: 0 3em; }
          .flexbox .callout-block .wrap .callout-content-block .carousel-content p {
            font-family: "Montserrat", sans-serif; }
          .flexbox .callout-block .wrap .callout-content-block .carousel-content .carousel-buttons svg {
            margin: 0 0.5em 1em 0; }
          .flexbox .callout-block .wrap .callout-content-block .carousel-content .button {
            padding-left: 0; }
      .callout-block .wrap .callout-content-block .callout-content {
        margin: auto; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../img/overlay.png");
  background-size: cover; }

/**
 * Template Layout - Cols
 */
.l-columns {
  margin-top: -2em;
  margin-left: -2em; }
  .l-columns:after {
    display: block;
    clear: both;
    content: ' '; }
  .l-columns + .l-columns {
    padding-top: 2em; }
  .l-columns .l-column-item {
    padding-top: 2em;
    padding-left: 2em; }

/**
 * Template Layout - Full Width Col
 */
.fullwidth-column {
  padding: 2em 0; }
  .fullwidth-column:after {
    display: block;
    clear: both;
    content: ' '; }

.advanced-full-width .l-aside {
  display: none; }

.overview-link-block {
  background-color: #f26e26; }
  .flexbox .overview-link-block .overview-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .flexbox .overview-link-block .overview-heading h2 {
      color: white;
      font-weight: 400; }
    .flexbox .overview-link-block .overview-heading h6 a {
      color: white;
      font-weight: 400; }
      .flexbox .overview-link-block .overview-heading h6 a svg {
        color: #5e235a; }
  .overview-link-block .l-grid-item {
    text-align: left; }
    .overview-link-block .l-grid-item .overview-grid-button {
      padding: 1em 2em;
      background-color: white; }
      .overview-link-block .l-grid-item .overview-grid-button h4 {
        position: relative; }
        .overview-link-block .l-grid-item .overview-grid-button h4:after {
          content: "";
          position: absolute;
          bottom: 7px;
          margin-left: 0.4em;
          background-image: url("../svg/icons/arrow-button-services.svg");
          background-repeat: no-repeat;
          height: 10px;
          width: 90px; }
      .flexbox .overview-link-block .l-grid-item .overview-grid-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }

.logo-block {
  padding: 1em 0 4em 0; }
  .logo-block h4 {
    border-bottom: 1px solid #EBEBEB;
    line-height: 3;
    font-weight: 400; }
  .flexbox .logo-block .logo-item-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .flexbox .logo-block .logo-item-block img {
      margin: 0.8em; }

/**
 * Template Layout - Parallax
 */
.parallax {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 8em 0 !important; }

.quote-block {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .quote-block .wrap {
    max-width: 50.6875em; }

.quote-icon {
  text-align: center; }

.quote-icon-svg {
  color: #0091b2; }

.quote-block-body {
  margin-top: 1em; }
  .quote-block-body p {
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.4;
    font-style: normal; }

.quote-block-citation {
  margin-top: 1.5em;
  font-size: 1em;
  line-height: 1.2; }
  .quote-block-citation:before {
    content: none; }

.quote-name {
  display: block;
  color: #fff;
  font-size: 1.3125em;
  font-weight: 700; }

.quote-title {
  display: block;
  margin-top: .5em;
  color: #0091b2;
  font-weight: 700;
  letter-spacing: .0625em; }

.columns-two-thirds {
  margin-left: -2em; }
  .columns-two-thirds:after {
    display: block;
    clear: both;
    content: ' '; }

.col-two-third {
  padding-left: 2em; }

.col-one-third {
  padding-left: 2em; }

/**
 * Global
 */
.site-main {
  position: relative;
  margin-top: 0;
  overflow: hidden; }

/**
 * Layout Wraps
 */
.wrap {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 77em; }
  .wrap:after {
    display: block;
    clear: both;
    content: ' '; }

.wrap--limited {
  max-width: 60.25em; }

.wrap--full {
  max-width: none; }

/**
 * Sidebar Layout
 */
.l-sidebar {
  margin-left: -2em; }
  .l-sidebar:after {
    display: block;
    clear: both;
    content: ' '; }
  .l-sidebar .l-main,
  .l-sidebar .l-aside {
    padding-left: 2em; }

/**
 * Block Layouts
 */
.section, .blog-page {
  padding: 3em 0; }
  .section:after, .blog-page:after {
    display: block;
    clear: both;
    content: ' '; }
  .section.white + .section.white, .white.blog-page + .section.white, .section.white + .white.blog-page, .white.blog-page + .white.blog-page,
  .section.orange + .section.orange,
  .orange.blog-page + .section.orange,
  .section.orange + .orange.blog-page,
  .orange.blog-page + .orange.blog-page,
  .section.teal + .section.teal,
  .teal.blog-page + .section.teal,
  .section.teal + .teal.blog-page,
  .teal.blog-page + .teal.blog-page,
  .section.teal-dark + .section.teal-dark,
  .teal-dark.blog-page + .section.teal-dark,
  .section.teal-dark + .teal-dark.blog-page,
  .teal-dark.blog-page + .teal-dark.blog-page,
  .section.purple + .section.purple,
  .purple.blog-page + .section.purple,
  .section.purple + .purple.blog-page,
  .purple.blog-page + .purple.blog-page,
  .section.maroon + .section.maroon,
  .maroon.blog-page + .section.maroon,
  .section.maroon + .maroon.blog-page,
  .maroon.blog-page + .maroon.blog-page,
  .section.gray + .section.gray,
  .gray.blog-page + .section.gray,
  .section.gray + .gray.blog-page,
  .gray.blog-page + .gray.blog-page {
    padding-top: 0; }

.section-header {
  padding-bottom: 0;
  text-align: left; }
  .section-header h2 {
    margin: 0; }

.page-header {
  text-align: left; }

section.fullwidth-column.advanced-full-width.section.gray, section.fullwidth-column.advanced-full-width.gray.blog-page {
  margin-top: -1em; }

.navigation--footer {
  text-align: center; }

.navigation--main {
  position: relative;
  width: 100%;
  text-align: right;
  z-index: 490; }
  .navigation--main li {
    position: relative; }
  .navigation--main a {
    display: block;
    padding: .5em .15em 1.5em;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    text-decoration: none; }
    .flexbox .navigation--main a:hover:after {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      content: "";
      background-image: url(../svg/icons/nav-carrot-hover.svg);
      background-repeat: no-repeat;
      background-position: center;
      height: 20px;
      width: 100%;
      position: absolute;
      top: -14px; }
    .navigation--main a:hover, .navigation--main a:focus {
      text-decoration: none; }
  .navigation--main > ul > li + li {
    margin-left: 1.5em; }
  .navigation--main .sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: -9999px;
    top: 100%;
    margin: 0;
    padding: .5em 0;
    min-width: 12.5em;
    text-align: left;
    z-index: 490;
    opacity: 0;
    background: #5e235a;
    -webkit-transition: opacity 100ms linear;
    -o-transition: opacity 100ms linear;
    transition: opacity 100ms linear; }
    .navigation--main .sub-menu li {
      display: block;
      margin: 0; }
    .navigation--main .sub-menu a {
      -webkit-transition: .5s ease-in;
      -o-transition: .5s ease-in;
      transition: .5s ease-in;
      padding: .5em 1em;
      font-size: 1em;
      position: relative; }
      .navigation--main .sub-menu a:hover:after {
        -webkit-transition: .5s ease-in;
        -o-transition: .5s ease-in;
        transition: .5s ease-in;
        content: "";
        background-image: url("../svg/icons/sidebar-nav-carrot.svg");
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-top: 1.4em;
        margin-left: 1em; }
        .navigation--main .sub-menu a:hover:after:nth-of-type(3) {
          margin-left: 3em; }
  .navigation--main li:hover > .sub-menu, .navigation--main li.is-active > .sub-menu {
    left: 0;
    opacity: 1;
    top: 54px;
    width: 238px;
    background-image: none; }
  .navigation--main li:last-child:hover > .sub-menu, .navigation--main li:last-child.is-active > .sub-menu {
    left: auto;
    right: 0; }
  .navigation--main .sub-menu li:hover > .sub-menu, .navigation--main .sub-menu li.is-active > .sub-menu {
    left: 100%;
    top: 0; }

.navigation--main .current-menu-item > a, .navigation--main .current-menu-ancestor > a {
  -webkit-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  transition: .5s ease-in;
  position: relative; }
  .flexbox .navigation--main .current-menu-item > a:after, .flexbox .navigation--main .current-menu-ancestor > a:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    background-image: url(../svg/icons/nav-carrot.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 100%;
    position: absolute;
    top: -14px; }

/*
.navigation--main{
  .para-main:hover > li a{
    transition: .5s ease-in;
    opacity: 0.5;
  }
  ul:hover li a:hover{
    transition: .5s ease-in;
    opacity: 1.0;
  }
  ul{
    margin-top: 0.7em;
    @include breakpoint($bp-large){
    margin-top: 1.4em;
    }
  }
}

*/
.navigation--main ul {
  margin-top: 0.7em; }

.sub-menu .current-menu-item > a {
  position: relative; }
  .flexbox .sub-menu .current-menu-item > a:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    background-image: none; }

.navigation--main .sub-menu li:nth-of-type(3) a:hover:after {
  width: 105px; }

.navigation--main .sub-menu li:nth-child(4) a:after {
  margin-left: 4em; }

.mobile-nav-tray {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  overflow-y: scroll;
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  -o-transition: transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
  background-color: #006072; }
  .admin-bar .mobile-nav-tray {
    padding-top: 2.875em; }
  .show-nav .mobile-nav-tray {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }

.navigation--mobile {
  padding: 0.5em 0 1em; }

.mobile-nav-header {
  padding: 0 1em; }
  .flexbox .mobile-nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .mobile-nav-header a {
    display: inline-block;
    vertical-align: top; }
  .mobile-nav-header .site-branding {
    margin-left: 1em; }

.mobile-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 0.7em; }
  .mobile-nav + .mobile-nav {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #dedede; }
  .mobile-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .mobile-nav li {
    margin: 0;
    border-top: 1px solid white; }
  .mobile-nav a {
    display: block;
    padding: .25em 1.5em;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: left;
    text-decoration: none;
    -webkit-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
    text-transform: uppercase;
    font-size: 1.125em; }
  .mobile-nav .sub-menu {
    display: none; }
    .mobile-nav .sub-menu a {
      font-size: 1.125em; }

.mobile-nav--utility a {
  font-size: 1em; }

.mobile-nav--search {
  margin-top: 2em;
  padding: 0 1em; }
  .mobile-nav--search .search-bar .search-submit {
    border-color: #232323;
    font-size: 1.1875em;
    background: #232323; }
    .mobile-nav--search .search-bar .search-submit:hover, .mobile-nav--search .search-bar .search-submit:focus {
      background: #232323;
      border-color: #232323; }
  .mobile-nav--search .search-bar .search-field {
    border: 1px solid #232323;
    border-radius: 3px;
    font-size: 1.1875em; }
    .mobile-nav--search .search-bar .search-field:focus {
      border-color: #232323; }

.sub-menu {
  background-color: #5e235a; }
  .sub-menu li {
    border: none !important; }

.mobile-nav--main .menu-item-has-children > a:after {
  content: "";
  display: inline-block;
  background-image: url(../svg/icons/mobile-carrot.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-position: 0px 6px;
  margin-left: 0.9em; }

.mobile-nav--main .menu-item-has-children > a.open:after {
  content: "";
  display: inline-block;
  background-image: url(../svg/icons/mobile-carrot-down.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-position: 0px 6px;
  margin-left: 0.9em; }

.sidebar-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  display: block;
  margin: 0;
  line-height: 28.25px; }

.sidebar-nav a {
  display: block;
  border-bottom: 1px solid #EBEBEB;
  padding: 1em;
  color: #0091b2;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  text-align: left;
  font-size: 0.9375em;
  -webkit-transition: background-color 500ms, color 500ms;
  -o-transition: background-color 500ms, color 500ms;
  transition: background-color 500ms, color 500ms; }

.sidebar-nav .children {
  display: none;
  margin-left: 1em; }

.sidebar-nav .current_page_item > .children,
.sidebar-nav .current_page_ancestor > .children {
  display: block; }

.social-nav {
  margin: 0;
  padding: 0;
  list-style: none; }
  .social-nav li {
    display: inline-block;
    vertical-align: top;
    margin: 0; }
    .social-nav li + li {
      margin-left: 1em; }

.navigation--utility {
  padding: .15em .5em;
  background: #eee; }
  .navigation--utility li + li {
    padding-left: .75em;
    border-left: 1px solid #f8f7f5; }
  .navigation--utility a {
    font-size: 0.875em;
    color: #0091b2;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .navigation--utility a:hover, .navigation--utility a:focus {
      color: #f26e26; }
  .navigation--utility li.current_page_item a,
  .navigation--utility li.current_page_parent a {
    color: #f26e26; }
  .navigation--utility .sub-menu {
    display: none; }

/**
 * Generic Navs
 */
/**
 * Aria Nav Hover Overlay
 * ---
 * For handling the 'click-out' of aria dropdowns.
 */
.js-aria-hover-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50; }
  .js-aria-hover-overlay.is-active {
    display: block; }

.search-bar {
  font-size: 1.0625em;
  line-height: 1; }
  .search-bar .search-form {
    position: relative; }
  .search-bar label {
    padding-right: 2.3em; }
  .search-bar .search-field,
  .search-bar .search-submit {
    font-size: inherit;
    line-height: inherit; }
  .search-bar .search-field {
    display: block;
    width: 100%; }
  .search-bar .search-submit {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .65em;
    height: 100%; }
    .search-bar .search-submit svg {
      display: block;
      width: 17px;
      height: 17px; }

.sidebar-widget + .sidebar-widget {
  margin-top: 2em; }

.widget-title {
  margin: 0;
  margin-bottom: 1em; }

/**
 * Categories Widget
 */
.categories-widget ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.categories-widget li {
  margin: 0; }
  .categories-widget li + li {
    border-top: 1px solid #f8f7f5; }

.categories-widget a {
  display: block;
  padding: .5em 0;
  color: #232323;
  text-decoration: none; }
  .categories-widget a:hover, .categories-widget a:focus {
    color: #0091b2; }

.categories-widget .current-cat {
  color: #0091b2; }
  .categories-widget .current-cat:hover, .categories-widget .current-cat:focus {
    color: #0091b2; }

/**
 * Archives Widget
 */
/**
 * Tags Widget
 */
.tags-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  margin: -.15em; }

.tags-widget li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: .15em;
  margin-right: -5px; }

.tags-widget a {
  display: inline-block;
  vertical-align: top;
  padding: .25em .75em;
  border-radius: 3px;
  color: #fff;
  font-size: .875em;
  text-decoration: none;
  background: #232323;
  -webkit-transition: color 500ms, background-color 500ms;
  -o-transition: color 500ms, background-color 500ms;
  transition: color 500ms, background-color 500ms; }
  .tags-widget a:hover {
    color: #fff;
    background: black; }

.icon-menu {
  font-size: 1.875em; }

.site-header--mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: .5em 1em;
  overflow: hidden;
  z-index: 500;
  background: #0091b2; }
  .admin-bar .site-header--mobile {
    top: 2.875em; }
  .flexbox .site-header--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.mobile-header-left {
  float: left; }
  .flexbox .mobile-header-left {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }

.mobile-header-right {
  float: right; }

.menu-button {
  display: inline-block;
  vertical-align: top;
  padding: .75em;
  color: #fff;
  line-height: 1;
  background-color: #5e235a;
  -webkit-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  transition: background-color 500ms; }
  .menu-button:hover, .menu-button:focus {
    color: #fff;
    background-color: #f26e26; }
  .menu-button svg {
    display: block;
    width: 1.375em;
    height: 1.1875em; }

.sidebar {
  margin-top: 3em; }
  .sidebar .current_page_item a {
    color: #a91d53; }
    .sidebar .current_page_item a:after {
      content: "";
      display: inline-block;
      background-image: url(../svg/icons/sidebar-nav-carrot.svg);
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;
      background-position: 0px 6px;
      margin-left: 0.9em; }
  .sidebar a:hover:after {
    content: "";
    display: inline-block;
    background-image: url(../svg/icons/sidebar-nav-hover.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-position: 0px 6px;
    margin-left: 0.9em; }

.advanced-sidebar .sidebar {
  margin-top: 0;
  margin-bottom: 2em; }

.primary-footer {
  padding: 3em 0;
  background-color: #006072;
  color: white; }
  .primary-footer:after {
    display: block;
    clear: both;
    content: ' '; }
  .primary-footer a {
    color: white; }

.footer-col-1 {
  text-align: center; }

.footer-col-2 {
  line-height: 12px; }
  .footer-col-2 .imagebox a {
    text-decoration: underline; }

.footer-social {
  text-align: center; }

.site-copyright {
  text-align: center; }

.imagebox {
  text-align: center;
  -webkit-transition: ease .5s;
  -o-transition: ease .5s;
  transition: ease .5s; }
  .imagebox svg {
    margin-bottom: -8px; }
  .imagebox a {
    color: #fff;
    -webkit-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    -webkit-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s; }
    .imagebox a:hover, .imagebox a:focus {
      opacity: .75;
      -webkit-transition: ease .5s;
      -o-transition: ease .5s;
      transition: ease .5s;
      text-decoration: none !important; }

.footer-fax-tel-email span {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 0.875em;
  color: white; }

.footer-fax-tel-email p {
  margin: 0; }

.line {
  display: none; }

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="url"],
input[type="search"],
textarea {
  background-color: #f7f7f7;
  border: 2px solid #0090b2; }

.gform_wrapper h3.gform_title {
  display: none; }

.gform_wrapper .top_label .gfield_label {
  visibility: hidden; }

.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
  visibility: hidden; }

.gform_wrapper.gform_wrapper input[type=text] {
  padding: 1em 2em !important; }

.gform_wrapper textarea {
  padding: 1em 2em !important; }

.footer-fax-tel-email a {
  font-size: 0.875em; }
  .footer-fax-tel-email a:hover {
    color: #dcdcdc;
    cursor: pointer; }

.site-header {
  text-align: center;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  z-index: 50; }
  .site-header .wrap {
    position: relative; }

.site-header-top {
  position: absolute;
  right: 1em;
  top: 0; }

.site-header-inner {
  padding: 0em 0 0; }
  .site-header-inner:after {
    display: block;
    clear: both;
    content: ' '; }
  .site-header-inner:after {
    content: "";
    display: block;
    background-color: red;
    border-bottom: 1px solid white;
    position: absolute;
    bottom: 1px;
    left: 15px;
    right: 15px;
    padding: 0 1em; }
  .flexbox .site-header-inner {
    display: none; }

.site-branding a {
  display: inline-block;
  vertical-align: top;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms; }
  .site-branding a:hover, .site-branding a:focus {
    opacity: .75; }

.site-branding svg,
.site-branding img {
  margin-top: 5px;
  display: block; }

.innerpage-header {
  position: static !important;
  background-color: #0091b2 !important; }
  .innerpage-header .site-header-inner:after {
    content: none; }

.gform_wrapper.gform_wrapper .gform_footer input.button,
.gform_wrapper.gform_wrapper .gform_footer input[type=submit] {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  display: inline-block;
  vertical-align: baseline;
  border: 0 none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 500ms, background 500ms;
  -o-transition: color 500ms, background 500ms;
  transition: color 500ms, background 500ms;
  padding: .65em 0.8em;
  color: #fff;
  font-size: .9375em;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  background: #232323; }
  .gform_wrapper.gform_wrapper .gform_footer input.button:hover, .gform_wrapper.gform_wrapper .gform_footer input.button:focus,
  .gform_wrapper.gform_wrapper .gform_footer input[type=submit]:hover,
  .gform_wrapper.gform_wrapper .gform_footer input[type=submit]:focus {
    text-decoration: none; }
  .gform_wrapper.gform_wrapper .gform_footer input.button:hover, .gform_wrapper.gform_wrapper .gform_footer input.button:focus,
  .gform_wrapper.gform_wrapper .gform_footer input[type=submit]:hover,
  .gform_wrapper.gform_wrapper .gform_footer input[type=submit]:focus {
    color: black; }

.gform_wrapper.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper.gform_wrapper input[type="email"],
.gform_wrapper.gform_wrapper input[type="password"],
.gform_wrapper.gform_wrapper input[type="text"],
.gform_wrapper.gform_wrapper input[type="tel"],
.gform_wrapper.gform_wrapper input[type="number"],
.gform_wrapper.gform_wrapper input[type="url"],
.gform_wrapper.gform_wrapper input[type="search"],
.gform_wrapper.gform_wrapper textarea {
  padding: .5em .75em; }

.site-main.homepage .hero {
  padding: 4em 0;
  background: #fff; }
  .site-main.homepage .hero:after {
    display: block;
    clear: both;
    content: ' '; }
  .site-main.homepage .hero h1,
  .site-main.homepage .hero h6 {
    color: #fff; }

section {
  text-align: center; }

.callout--right {
  right: 0 !important;
  left: auto !important; }

.callout--left {
  left: 0 !important;
  right: auto !important; }

.text-align--right {
  text-align: right !important; }

.switch-margin--right {
  margin: auto 4em auto auto !important; }

.pad--med {
  padding: 3em !important; }

.carousel--margin-top h6 {
  margin-top: 6.5em; }

.push-down {
  margin-top: 13px; }

.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
  position: absolute;
  border: 0 none;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); }
  .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label.focusable:active, .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label.focusable:focus, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label.focusable:active, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

body .gform_wrapper ul li.gfield {
  margin-top: 0 !important; }

.gform_wrapper {
  margin: 0 !important; }

.gform_wrapper .gform_heading {
  margin-bottom: -30px !important; }

.gform_wrapper.gform_wrapper .gform_footer input.button,
.gform_wrapper.gform_wrapper .gform_footer input[type=submit] {
  background-color: #5e235a;
  padding: 1em 3em;
  color: white;
  font-family: "Montserrat", sans-serif; }

.gform_wrapper.gform_wrapper .gform_footer input.button:hover, .gform_wrapper.gform_wrapper .gform_footer input.button:focus,
.gform_wrapper.gform_wrapper .gform_footer input[type=submit]:hover,
.gform_wrapper.gform_wrapper .gform_footer input[type=submit]:focus {
  color: white; }

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
textarea:focus {
  border: 2px solid #0091b2; }

.gform_wrapper .gform_footer {
  text-align: center !important; }

.overview-link-block .l-grid-item:hover a {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .overview-link-block .l-grid-item:hover a .overview-grid-button h4 {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .overview-link-block .l-grid-item:hover a .overview-grid-button h4:after {
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
      margin-left: 0.7em; }

h4:after {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

.parallax {
  position: relative; }
  .parallax .parallax-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(139, 139, 139, 0.25);
    z-index: 1; }

.parallax-content h1, .parallax-content h2, .parallax-content h3, .parallax-content h4, .parallax-content h5, .parallax-content h6, .parallax-content p {
  color: white !important;
  position: relative;
  z-index: 4; }

a[href^="mailto:"] {
  color: #0091b2 !important;
  cursor: pointer !important; }
  a[href^="mailto:"]:hover {
    color: #f26e26 !important; }

.blog-page article + article {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #c8c8c8; }

.blog-page .entry-footer .comments-link,
.blog-page .entry-footer .edit-link {
  background: #666;
  border: 1px solid #f2f2f2;
  color: #fff; }
  .blog-page .entry-footer .comments-link a,
  .blog-page .entry-footer .edit-link a {
    color: #fff; }

.blog-page .nav-links a {
  color: #0091b2; }

@media screen and (min-width: 30em) {
    h2, .h2 {
      font-size: 3em; }
    .banner {
      padding: 0; }
    .homepage-hero {
      padding: 10em 0; }
            .flexbox .callout-block .wrap .callout-image-block svg {
              width: auto; }
              .flexbox .callout-block .wrap .callout-image-block .callout-image .callout-heading {
                margin: auto auto auto 2em; } }

@media screen and (min-width: 47.5em) {
    .owl-carousel .owl-stage-outer {
      height: auto; }
    body.show-nav {
      overflow: scroll; }
    figure {
      max-width: 50%; }
        .banner .banner-box .banner-title {
          padding: 2em 0 1em; }
          .banner .banner-box .banner-title .h1 {
            font-size: 3.25em; }
  .alignright {
    float: right;
    margin-top: 0;
    margin-left: 1em;
    max-width: 50%; }
  .alignleft {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    max-width: 50%; }
  .l-grid--three-col .l-grid-item {
    width: 50%; }
  .l-grid--four-col .l-grid-item {
    width: 50%; }
    .homepage-hero {
      padding: 10em 0;
      padding-top: 12em; }
      .hero-content h1 {
        font-size: 3.25em; }
      .hero-content h6 {
        font-size: 1.3125em; }
    .button-block {
      margin: 0 -2em; }
    .flexbox .button-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .button-block .callout-header,
      .button-block .callout-body {
        padding: 0 2em; }
              .flexbox .callout-block .wrap .callout-image-block .callout-image .callout-heading {
                margin: auto auto auto 4em; }
            .flexbox .callout-block .wrap .callout-content-block .carousel-content {
              padding: 0 3em; }
    .l-columns .l-column-item {
      float: left; }
    .l-columns.l-columns--2 .l-column-item {
      width: 50%; }
    .l-columns.l-columns--3 .l-column-item {
      width: 33.33%; }
    .l-columns.l-columns--4 .l-column-item {
      width: 25%; }
    .l-columns.l-columns--5 .l-column-item {
      width: 20%; }
    .l-columns.l-columns--6 .l-column-item {
      width: 16.66%; }
    .fullwidth-column {
      padding: 4em 0; }
    .advanced-full-width .l-aside {
      display: block; }
    .col-two-third {
      float: left;
      width: 66.666%; }
    .columns-two-thirds--left .col-two-third {
      float: right; }
    .col-one-third {
      float: right;
      width: 33.333%; }
    .columns-two-thirds--left .col-one-third {
      float: left; }
    .site-main {
      margin-top: 0; }
      .l-sidebar .l-main,
      .l-sidebar .l-aside {
        float: right; }
    .l-sidebar .l-main {
      width: 65%;
      float: left; }
    .l-sidebar .l-aside {
      width: 28%;
      padding-left: 0; }
    .section, .blog-page {
      padding: 3em 0; }
      .section.white + .section.white, .white.blog-page + .section.white, .section.white + .white.blog-page, .white.blog-page + .white.blog-page,
      .section.orange + .section.orange,
      .orange.blog-page + .section.orange,
      .section.orange + .orange.blog-page,
      .orange.blog-page + .orange.blog-page,
      .section.teal + .section.teal,
      .teal.blog-page + .section.teal,
      .section.teal + .teal.blog-page,
      .teal.blog-page + .teal.blog-page,
      .section.teal-dark + .section.teal-dark,
      .teal-dark.blog-page + .section.teal-dark,
      .section.teal-dark + .teal-dark.blog-page,
      .teal-dark.blog-page + .teal-dark.blog-page,
      .section.purple + .section.purple,
      .purple.blog-page + .section.purple,
      .section.purple + .purple.blog-page,
      .purple.blog-page + .purple.blog-page,
      .section.maroon + .section.maroon,
      .maroon.blog-page + .section.maroon,
      .section.maroon + .maroon.blog-page,
      .maroon.blog-page + .maroon.blog-page,
      .section.gray + .section.gray,
      .gray.blog-page + .section.gray,
      .section.gray + .gray.blog-page,
      .gray.blog-page + .gray.blog-page {
        padding-top: 0; }
    .section-header {
      padding-bottom: 0; }
    .navigation--footer {
      text-align: right; }
    .mobile-nav-tray {
      display: none; }
      .show-nav .mobile-nav-tray {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); }
    .site-header--mobile {
      display: none; }
      .flexbox .site-header--mobile {
        display: none; }
    .sidebar {
      margin-top: 0; }
  .advanced-sidebar {
    position: absolute;
    border: 0 none;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0); }
    .advanced-sidebar.focusable:active, .advanced-sidebar.focusable:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto; }
    .site-header {
      position: absolute;
      top: 0;
      left: 0;
      height: auto;
      width: 100%;
      text-align: left;
      z-index: 100; }
    .admin-bar .site-header {
      top: 2em; }
    .site-header.minify-header {
      padding: 0.7em 0; }
      .flexbox .site-header-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
  .header-col-1 {
    float: left;
    width: 25%; }
  .header-col-2 {
    float: right;
    width: 75%; }
  .flexbox .header-col-2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
    .site-branding svg,
    .site-branding img {
      margin-top: 0; }
    .site-main.homepage .hero {
      padding: 6em 0; } }

@media screen and (min-width: 60em) {
    .owl-nav {
      left: 43px; }
    h1, .h1 {
      font-size: 3.25em; }
      .banner .banner-box {
        height: 210px; }
        .banner .banner-box .banner-image {
          position: absolute;
          text-align: left;
          right: 0;
          bottom: -85px; }
        .banner .banner-box .banner-title {
          padding: 0;
          position: absolute;
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); }
          .banner .banner-box .banner-title .h1 {
            text-align: left; }
  .l-grid--three-col .l-grid-item {
    width: 33.33%; }
  .l-grid--four-col .l-grid-item {
    width: 25%; }
    .hero-content {
      padding-right: 25em; }
      .hero-content h1 {
        font-size: 3.25em; }
      .hero-content h6 {
        font-size: 1.3125em; }
    .homepage-mobile-hero-content {
      display: none !important; }
    .para-hide {
      display: block !important; }
    video.bg-video {
      display: block; }
    .flexbox .button-callout-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .flexbox .button-callout-content p {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 0px;
                flex: 1 0 0;
        margin: 0;
        padding-right: 1em; }
    .fullwidth-column {
      padding: 6em 0; }
    .section, .blog-page {
      padding: 4em 0; }
      .section.white + .section.white, .white.blog-page + .section.white, .section.white + .white.blog-page, .white.blog-page + .white.blog-page,
      .section.orange + .section.orange,
      .orange.blog-page + .section.orange,
      .section.orange + .orange.blog-page,
      .orange.blog-page + .orange.blog-page,
      .section.teal + .section.teal,
      .teal.blog-page + .section.teal,
      .section.teal + .teal.blog-page,
      .teal.blog-page + .teal.blog-page,
      .section.teal-dark + .section.teal-dark,
      .teal-dark.blog-page + .section.teal-dark,
      .section.teal-dark + .teal-dark.blog-page,
      .teal-dark.blog-page + .teal-dark.blog-page,
      .section.purple + .section.purple,
      .purple.blog-page + .section.purple,
      .section.purple + .purple.blog-page,
      .purple.blog-page + .purple.blog-page,
      .section.maroon + .section.maroon,
      .maroon.blog-page + .section.maroon,
      .section.maroon + .maroon.blog-page,
      .maroon.blog-page + .maroon.blog-page,
      .section.gray + .section.gray,
      .gray.blog-page + .section.gray,
      .section.gray + .gray.blog-page,
      .gray.blog-page + .gray.blog-page {
        padding-top: 0; }
    .section-header {
      padding-bottom: 0; }
      .navigation--main a {
        font-size: 1.125em; }
    .navigation--main ul {
      margin-top: 1.4em; }
    .footer-col-1 {
      float: left;
      width: 17%;
      text-align: left; }
    .footer-col-2 {
      float: left;
      width: 80%;
      padding-left: 0.5em; }
      .footer-col-2 p {
        text-align: right; }
      .footer-col-2 .imagebox {
        display: block;
        cursor: pointer; }
    .footer-social {
      text-align: right; }
    .site-copyright {
      text-align: left; }
    .imagebox {
      display: inline-block;
      vertical-align: top; }
    .line {
      background-color: white;
      height: 1px;
      width: 100%;
      display: block;
      margin-top: 0.7em;
      margin-bottom: 2em; }
    .site-main.homepage .hero {
      padding: 11.25em 0; } }

@media screen and (min-width: 62.5em) {
    .callout-block {
      padding: 20em 1em;
      height: 636px; }
          .flexbox .callout-block .wrap .callout-image-block {
            position: absolute;
            left: 0;
            width: 55%;
            top: 50%;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            z-index: 1;
            margin-left: 1em; }
        .callout-block .wrap .callout-content-block {
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          width: 50%;
          margin-right: 1em;
          margin-top: 0; } }

@media screen and (min-width: 75em) {
    .hero-content {
      padding-right: 36em; }
      .hero-content h1 {
        font-size: 3.25em; }
        .callout-block .wrap .callout-content-block {
          height: auto; }
      .navigation--main a {
        font-size: 1.125em; } }

@media screen and (min-width: 93.75em) {
    video.bg-video {
      top: 60%; } }

@media screen and (min-width: 112.5em) {
    video.bg-video {
      top: 73%; } }

@media screen and (max-width: 37.5em) {
  #wpadminbar {
    position: fixed; } }
