
.site-main.homepage {
  p{
    font-family: $base-font-family;
  }
  .hero {
    @include clearfix;
    padding: 4em 0;
    background: $bkg-white;

    @include breakpoint($bp-med) {
      padding: 6em 0;
    }

    @include breakpoint($bp-large) {
      padding: 11.25em 0;
    }

    h1,
    h6 {
      color: $primary-color;
    }
  }
}

section{
  text-align: center;
}


.callout--right{
  right:0 !important;
  left:auto !important;
}

.callout--left{
  left:0 !important;
  right:auto !important;
}

.text-align--right{
  text-align: right !important;
}
.switch-margin--right{
  margin: auto 4em auto auto !important;
}
.pad--med{
  padding: 3em !important;
}

.carousel--margin-top{
  h6{
    margin-top: 6.5em;
  }
}

.push-down{
  margin-top: 13px;
}

// helpers


.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label{
  @include visuallyhidden;
}
body .gform_wrapper ul li.gfield{
  margin-top: 0 !important;
}
.gform_wrapper{
 margin: 0 !important;
}
.gform_wrapper .gform_heading{
  margin-bottom: -30px !important;
}

.gform_wrapper.gform_wrapper .gform_footer input.button, .gform_wrapper.gform_wrapper .gform_footer input[type=submit]{
background-color: $para-purple;
padding: 1em 3em;
color: white;
font-family: $heading-font-family;
}
.gform_wrapper.gform_wrapper .gform_footer input.button:hover, .gform_wrapper.gform_wrapper .gform_footer input.button:focus, .gform_wrapper.gform_wrapper .gform_footer input[type=submit]:hover, .gform_wrapper.gform_wrapper .gform_footer input[type=submit]:focus{
  color: white;
}

input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=url]:focus, input[type=search]:focus, textarea:focus{
  border: 2px solid $para-teal;
}
.gform_wrapper .gform_footer{
  text-align: center !important;
}

// Contact


.overview-link-block{
  background: rgba(0,145,178,1);
  background: -moz-linear-gradient(left, rgba(0,145,178,1) 0%, rgba(0,97,114,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,145,178,1)), color-stop(100%, rgba(0,97,114,1)));
  background: -webkit-linear-gradient(left, rgba(0,145,178,1) 0%, rgba(0,97,114,1) 100%);
  background: -o-linear-gradient(left, rgba(0,145,178,1) 0%, rgba(0,97,114,1) 100%);
  background: -ms-linear-gradient(left, rgba(0,145,178,1) 0%, rgba(0,97,114,1) 100%);
  background: linear-gradient(to right, rgba(0,145,178,1) 0%, rgba(0,97,114,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0091b2', endColorstr='#006172', GradientType=1 );
  .l-grid-item:hover{
   a{
       transition: all .2s;
     .overview-grid-button{
       h4{
         transition: all .2s;
         &:after{
          transition: all .2s;
           margin-left: 0.7em;
         }
       }
     }
   }
  }
}
h4:after{
    transition: all .2s;
}


// services

.parallax{
  position: relative;
  .parallax-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(139,139,139, 0.25);
    z-index: 1;
  }
}
.parallax-content{
  h1, h2, h3, h4, h5, h6, p{
  color: white !important;
  position: relative;
  z-index: 4;
  }
}

// parallax

a[href^="mailto:"]
{
  color: $para-teal !important;
  cursor: pointer !important;
  &:hover{
    color: $para-orange !important;
  }
}


*{
  transition: 0.5s;
}


.overview-link-block .l-grid-item .overview-grid-button:hover:before{
  transition: 0.5s;
    background-color: #CE5919;
    }
.overview-link-block .l-grid-item .overview-grid-button:hover:after{
    background-color: #CE5919;
    transition: 0.5s;
    }
