
.blog-page {
  @extend .section;

  // .entry-content {
  //  @include breakpoint($bp-med) {
  //    @include grid(860,1200);
  //    float: left;
  //  }
  // }

  // .sidebar {
  //  @include breakpoint($bp-med) {
  //    @include grid(260,1200);
  //    float: right;
  //  }
  // }
  
  article {
    + article {
      margin-top: 2em;
      padding-top: 2em;
      border-top: 1px solid darken( #eee, 15% );
    }
  }

  .entry-footer {
    .comments-link,
    .edit-link {
      background: $quaternary-color;
      border: 1px solid darken($primary-color, 5%);
      color: $primary-color;

      a {
        color: $primary-color;
      }
    }
  }

  .nav-links {
    a {
      color: $link-color;
    }
  }
}
