
html {
  box-sizing: border-box;
  color: $para-black;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 2;
  color: $para-black;
  font-weight: 400 !important;
  transition: .2s;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  &.show-nav {
    overflow: hidden;

    @include breakpoint($bp-med) {
      overflow: scroll;
    }
  }
}
