
.button,
input[type="submit"] {
  @include button( $button-color );
}

.text-button {
  @include button-reset;
}

.button-group {
  margin-top: -8px;
  margin-left: -8px;

  .button {
    margin: 8px;
  }
}

// buttons

.button--icon-1{
  @include font-size(16);
  position: relative;
  padding-right: 2.9em;
  background-color: transparent;
  border-bottom: 3px solid $para-orange;
  padding-bottom: 0.7em;
  padding-left: 0;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 15px;
  transition: 0.5s;
  &:hover{
    padding-right: 2.4em;
    border-bottom: 3px solid #CE5919;
  }
  &:after{
    content: "";
    transition: 0.5s;
    position: absolute;
    right: -1px;
    top: 64%;
    transform: translateY(-50%);
    height: 8px;
    width: 25px;
    background-image: url('../svg/icons/arrow-button-services.svg');
    background-repeat: no-repeat;
    background-position: right;
  }
  &:hover:before{
    transition: 0.5s;
    background-color: #CE5919;
  }
  &:before{
    content: "";
    transition: 0.5s;
    position: absolute;
    right: -7px;
    background: #f26e26;
    height: 32px;
    width: 32px;
    bottom: -3px;
  }
    &:hover{
      color: white;
    }
  }

  .button--icon-3{
    @include font-size(16);
    position: relative;
    padding-right: 2.9em;
    background-color: transparent;
    border-bottom: 3px solid $para-orange;
    padding-bottom: 0.7em;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 15px;
    &:after{
      content: "";
      position: absolute;
      right: -1px;
      top: 64%;
      transform: translateY(-50%);
      height: 8px;
      width: 25px;
      background-image: url('../svg/icons/arrow-button-services.svg');
      background-repeat: no-repeat;
      background-position: right;
    }
    &:before{
      content: "";
      position: absolute;
      right: -7px;
      background: #f26e26;
      height: 32px;
      width: 32px;
      bottom: -3px;
    }
      &:hover{
        color: white;
      }
    }
