
/**
 * Block Bkg Colors
 */

.white {
  background-color: #fff;
}
.orange {
  background-color: $para-orange;
  @include reverse-block-color;
}
.teal {
  background-color: $para-teal;
  @include reverse-block-color;
}
.teal-dark {
  background-color: $para-teal-dark;
  @include reverse-block-color;
}
.purple{
  background-color: $para-purple;
  @include reverse-block-color;
}
.maroon{
  background-color: $para-maroon;
  @include reverse-block-color;
}
.gray {
  background-color: $para-gray;
}
