
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  margin-bottom: .5em;
  color: $heading-color;
  font-family: $heading-font-family;
  font-weight: 400;
  line-height: 1.2;

  p + &,
  ul + &,
  ol + & {
    margin-top: 1em;
  }
}

h1, .h1 {
  @include font-size(52); /* 4.3125em */
  font-weight: 300;
  color: $para-teal-dark;
  @include breakpoint($bp-large) {
    @include font-size(52);

  }
}

h2, .h2 {
    @include font-size(38);
      color: $para-teal;
      font-weight: 400;
  @include breakpoint($bp-small) {
    @include font-size(38);
  }
}

h3, .h3 {
  @include font-size(28); /* 2.8125em */
    font-weight: 600;
    color: $para-teal;
    margin-bottom: 2em;
}

h4, .h4 {
  @include font-size(24); /* 2.3125em */
  font-weight: 400;
  color: $para-teal-dark;
}

h5, .h5 {
  @include font-size(18);
  font-weight: 500;
  color: $para-orange;
}

h6, .h6 {
  @include font-size(21); /* paragraph intro text */
  color: $para-black;
  font-weight: 300;
  margin-bottom: 1.1em;
}

// b, strong{
//   font-weight: bold !important;
// }
