
.banner {
  @include clearfix;
  width: 100%;
  padding: 2em 0;
  background-color: $para-gray;
  @include breakpoint($bp-small) {
    padding: 0;
  }
  .banner-box{
    position: relative;
      @include breakpoint($bp-med){
      }
      @include breakpoint($bp-large){
      height: 210px;
      }
    .banner-image{
      text-align: center;
      padding-bottom: 2em;
      @include breakpoint($bp-large){
      position: absolute;
      text-align: left;
      right: 0;
      bottom: -85px;
      }
    }
    .banner-title {
      padding: 5em 0 1em;
      text-align: center;
      margin: auto;
      width: 60%;
      border-bottom: 2px solid $para-orange;
      margin-bottom: 2em;
      margin-top: 2em;
      @include breakpoint($bp-med){
        padding: 7em 0 1em;
        margin-top: 0;
      }
      @include breakpoint($bp-large){
        width: 40%;
        padding: 2em 0 1em;
        padding-bottom: 18px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .h1 {
        @include font-size(40);
        display: block;
        color: $para-teal-dark;
        text-align: center;
        margin-bottom: 0.1em;
        font-family: $heading-font-family;
        font-weight: 400;
        @include breakpoint($bp-med) {
          @include font-size(45);
        }
        @include breakpoint($bp-large){
          text-align: left;
          @include font-size(52);
        }
      }
    }
  }
}
