
/**
 * Entry Content
 */


.entry-content,
.page-content {
   text-align: left;
  a{
    position: relative;
    &:after{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      height: 1px;
      transition: border 500ms;
    }
    &:hover:after{
      transition: border 500ms;
      border-bottom: none !important;
    }
  }
  .button--icon-3{
    @include font-size(16);
    position: relative;
    padding-right: 2.9em;
    background-color: transparent;
    border-bottom: 3px solid $para-orange;
    padding-bottom: 0.7em;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 15px;
    transition: 0.5s;
    color: $para-teal;
    &:hover{
      padding-right: 2.4em;
      border-bottom: 3px solid #CE5919;
      color: $para-teal;
    }
    &:after{
      content: "";
      transition: 0.5s;
      position: absolute;
      right: -1px;
      top: 64%;
      transform: translateY(-50%);
      height: 8px;
      width: 100%;
      background-image: url('../svg/icons/arrow-button-services.svg');
      background-repeat: no-repeat;
      background-position: right;
    }
    &:hover:before{
      transition: 0.5s;
      background-color: #CE5919;
          color: $para-teal;
    }
    &:before{
      content: "";
      transition: 0.5s;
      position: absolute;
      right: -7px;
      background: #f26e26;
      height: 32px;
      width: 32px;
      bottom: -3px;
    }
      &:hover{
            color: $para-teal-dark;
      }
    }
    .button--icon-4{
      @include font-size(16);
      position: relative;
      padding-right: 2.9em;
      background-color: #006072;
      padding-bottom: 0.7em;
      padding-left: 0;
      text-transform: uppercase;
      font-weight: 600 !important;
      line-height: 15px;
      color: white;
      padding: 1.2em 3.3em !important;
      padding-right: 4.5em !important;
      &:after{
        content: "";
        position: absolute;
        right: -1px;
        top: 64%;
        top: 28px !important;
        left: auto !important;
        transform: translateY(-50%);
        right: 42px !important;
        height: 30px !important;
        width: 25px;
        background-image: url('../svg/icons/orange-arrow.svg');
        background-repeat: no-repeat;
        background-position: right;
      }
        &:hover{
          color: white;
          background-color: #004552;
        }
      }

  h1 {

  }
  p{
    @include font-size(16);
    line-height: 28px;
  }
  ul {
    list-style: none;
    padding-left: 16px;
    line-height: 31px;

    li {
      position: relative;

      + li {
        margin-top: .15em;
      }

      &:before {
        position: absolute;
        left: -1em;
        top: .825em;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $bullet-color;
        content: '';
      }
    }
  }
  .p-lead{
    @include font-size(21);
    line-height: 28px;
  }
}


/**
 * Image Alignment
 */

.aligncenter,
.alignright,
.alignleft {
  display: block;
  margin: 1em auto;
}

.alignright {
  @include breakpoint($bp-med) {
    float: right;
    margin-top: 0;
    margin-left: 1em;
    max-width: 50%;
  }
}

.alignleft {
  @include breakpoint($bp-med) {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    max-width: 50%;
  }
}

.page-id-12 .page-title{
  display: none !important;
}


.page-content{
  h3{
    margin-bottom: 0.5em;
  }
}
