
.homepage-hero{
  padding: 5em 0;
  min-height: 350px;
  background-position: 100%;
  background-repeat: no-repeat;
  position: relative;
  &:after{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(5, 113, 138, 100);
    z-index: -3;
  }
  @include breakpoint($bp-med){
    padding: 10em 0;
    padding-top: 12em;
  }
  .hero-box{
    position: relative;
    z-index: 5;
    margin-top: 5.6em;
    margin-right: 5em;
  }
}

.hero-content {
  text-align: left;
  margin-top: 2em;
  @include breakpoint($bp-large){
  }
  @include breakpoint($bp-xl){
  }
  h1 {
    margin-top: 0.3em;
    @include font-size(25);
    line-height: 1.2;
    margin-bottom: 1em;
    color: white;
    font-weight: 400;
    @include breakpoint($bp-med) {
      @include font-size(52);
    }

    @include breakpoint($bp-large) {
      @include font-size(52);
    }

    @include breakpoint($bp-xl) {
      @include font-size(52);
    }
  }

  h6 {
    @include font-size(21);
    line-height: 130%;
    margin-bottom: 1em;
    font-weight: 300;
    color: white;
    font-weight: 400;
    @include breakpoint($bp-med) {
      @include font-size(21);
    }

    @include breakpoint($bp-large) {
      @include font-size(21);
    }
  }
}

.homepage-mobile-hero-content{
  display: block !important;
  background-color: $para-teal;
  .hero-content{
    margin-top: 0;
    h1{
      margin-top: 0;
    }
  }
  @include breakpoint($bp-large){
    display: none !important;
  }
}

.para-hide{
  display: none !important;
  @include breakpoint($bp-large){
    display: block !important;
  }
}
video.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    background: url(../video/poster.jpg) no-repeat;
    background-size: cover;
    max-width: none;
    @include breakpoint($bp-large){
      display: block;
    }
    @include breakpoint($bp-mega-1){
    top: 60%;
    }
    @include breakpoint($bp-mega-2){
    top: 73%;
    }
}
.hero-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0091b2+0,006072+100 */
  background: #0091b2; /* Old browsers */
  background: -moz-linear-gradient(left, #0091b2 0%, #006072 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0091b2 0%,#006072 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0091b2 0%,#006072 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0091b2', endColorstr='#006072',GradientType=1 ); /* IE6-9 */
    z-index: 1;
    opacity: 0.7;
}
section.homepage-mobile-hero-content.para-hide.section {
    display: none !important;
}
