.callout-block{
  background-color: $para-gray;
  padding: 1em 0;
  @include breakpoint($bp-para-large){
    padding: 20em 1em;
    height: 636px;
  }
  .wrap{
    position: relative;
    .callout-image-block{
      width: 100%;
      height: 520px;
      margin: auto;
      position: relative;
      .flexbox &{
        display: flex;
        svg{
          width: 260px;
          @include breakpoint($bp-small){
            width: auto;
          }
        }
      @include breakpoint($bp-para-large){
        position: absolute;
        left: 0;
        width: 55%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        margin-left: 1em;
      }
       .callout-image{
         width: 100%;
         display: flex;
         text-align: left;
         .callout-heading{
           margin: auto;
           @include breakpoint($bp-small){
             margin: auto auto auto 2em;
           }
           @include breakpoint($bp-med){
             margin: auto auto auto 4em;
           }
           h2{
             position: relative;
             color: white;
             margin-bottom: 0.1em;
             font-weight: 500;
           }
           svg{
             position: relative;
           }
         }
       }
     }
    }


    .callout-content-block{
        width: 100%;
        height: auto;
        background-color: white;
        z-index: 2;
        margin: auto;
        text-align: left;
        position: relative;
        margin-top: 1em;
        h3{
          @include font-size(24);
          font-weight: 500;
        }
        p{
          @include font-size(16);
          color: #333333;
          line-height: 28px;
          font-family: $base-font-family;
        }
      @include breakpoint($bp-para-large){
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
        margin-right: 1em;
        margin-top: 0;
      }
      @include breakpoint($bp-xl){
        height: auto;
      }
    font-family: $heading-font-family;
      .flexbox &{
        display: flex;
        .carousel-content{
          margin: 0 auto 3em;
          padding: 0 3em;
          @include breakpoint($bp-med){
            padding: 0 3em;
          }
          p{
            font-family: $heading-font-family;
          }
          .carousel-buttons{
            svg{
              margin: 0 0.5em 1em 0;
            }
          }
          .button{
            padding-left: 0;
          }
        }
      }
      .callout-content{
        margin: auto;
        box-shadow: 5px 5px 14px -7px rgba(0,0,0,0.38);
      }
      .button--icon-1{
        color: $para-teal;
        font-family: $heading-font-family;
        font-weight: 500;
      }
    }
  }
}
.overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/overlay.png');
  background-size: cover;
}
.overlay-2{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/overlay-2.png');
  background-size: cover;
}


// w carousel
