
/**
 * Template Layout - Parallax
 */

.parallax {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 8em 0 !important;
}
