
/**
 * Global
 */

.site-main {
  position: relative;
  margin-top: 0;
  overflow: hidden;

  @include breakpoint($bp-med) {
    margin-top: 0;
  }
}


/**
 * Layout Wraps
 */

.wrap {
  @include clearfix;
  margin: 0 auto;
  padding: $max-width-spacing;
  max-width: $max-width;
}

.wrap--limited {
  max-width: 800px;
  margin: auto;
}

.wrap--full {
  max-width: none;
}


/**
 * Sidebar Layout
 */

.l-sidebar {
  @include clearfix;
  margin-left: -2em;

  .l-main,
  .l-aside {
    padding-left: 2em;

    @include breakpoint($bp-med) {
      float: right;
    }
  }

  .l-main {
    @include breakpoint($bp-med) {
      width: 65%;
      float: left;
    }
  }

  .l-aside {
    @include breakpoint($bp-med) {
      width: 28%;
      padding-left: 0;
      margin-top: 2em;
    }
  }
}


/**
 * Block Layouts
 */

.section {
  @include clearfix;
  padding: $vertical-padding;

  @include breakpoint($bp-med) {
    padding: $vertical-padding-medium;
  }

  @include breakpoint($bp-large) {
    padding: $vertical-padding-large;
  }

  // Remove vertical padding for same color blocks
  &.white + &.white,
  &.orange + &.orange,
  &.teal + &.teal,
  &.teal-dark + &.teal-dark,
  &.purple + &.purple,
  &.maroon + &.maroon,
  &.gray + &.gray {
    padding-top: 0;

    @include breakpoint($bp-med) {
      padding-top: 0;
    }

    @include breakpoint($bp-large) {
      padding-top: 0;
    }
  }
}

.section-header {
    padding-bottom: 0;
  text-align: left;

  @include breakpoint($bp-med) {
      padding-bottom: 0;
  }

  @include breakpoint($bp-large) {
    padding-bottom: 0;
  }

  h2 {
    margin: 0;
  }
}

.page-header{
  text-align: left;
}

section.fullwidth-column.advanced-full-width.section.gray {
    margin-top: -1em;
}
