.overview-link-block{
      background-color: $para-orange;
      .overview-heading{
        .flexbox &{
          display: flex;
          justify-content: space-between;
          h2{
            color: white;
            font-weight: 500;
            font-size: 34px;
            @include breakpoint($bp-med){
            font-size: 48px;

            }
          }
          h6{
            a{
              color: white;
              font-weight: 500;
              font-size: 16px;
              svg{
                color: $para-purple;
              }
            }
          }
        }
      }
    .l-grid-item{
      text-align: left;
      .overview-grid-button{
        background-color: white;
        position: relative;
        padding: 1em 1.8em 0em;
        min-height: 440px;
        padding-top: 1.4em;
        line-height: 28px;
        .overview-card-header{
          margin-bottom: 0;
          align-items: center;
          .flexbox &{
            display: flex;
            justify-content: space-between;
            height: 50px;
          }
          h4{
            margin-bottom: 0;
            font-weight: 400;
          }
        }
        .overview-card-body{
          min-height: 220px;
          @include breakpoint($bp-med){
            min-height: 270px;
          }
          p{
            @include font-size(16);
            margin-bottom: 1em;
            margin-top: 0;
            color: #333333;
          }
        }
        &:after{
          content:"Learn More";
          display: block;
          background-repeat: no-repeat;
          padding: 1em;
          width: 140px;
          background-image: url('../svg/icons/arrow-button-services.svg');
          background-position: right;
          background-color: $para-orange;
          font-family: $heading-font-family;
          font-weight: 500;
          color: white;
          text-transform: uppercase;
          position: relative;
          z-index: 5;
          padding-left: 0;
        }
        &:before{
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: $para-orange;
          background-repeat: no-repeat;
          height: 64px;
          z-index: 1;
          width: 100%;
        }
        .flexbox &{
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
      }
    }
  }
