
.button-block {
  margin: -.5em 0;
  text-align: center;

  @include breakpoint($bp-med) {
    margin: 0 -2em;
  }

  .flexbox & {
    @include breakpoint($bp-med) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .callout-header,
  .callout-body {
    padding: .5em 0;

    @include breakpoint($bp-med) {
      padding: 0 2em;
    }
  }

  .callout-header {

    h2 {
      .flexbox & {
        margin: 0;
      }
    }
  }
}

.button-callout-content {
  width: 100%;

  .flexbox & {
    @include breakpoint($bp-large) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  p {
    margin: 0 0 1em 0;
    font-size: 1.1875em;
    line-height: 1.2;

    .flexbox & {
      @include breakpoint($bp-large) {
        flex: 1 0 0;
        margin: 0;
        padding-right: 1em;
      }
    }
  }
}
