
.columns-two-thirds {
  @include clearfix;
  margin-left: -2em;
}

.col-two-third {
  padding-left: 2em;

  @include breakpoint($bp-med) {
    float: left;
    width: 66.666%;
  }

  .columns-two-thirds--left & {
    @include breakpoint($bp-med) {
      float: right;
    }
  }
}

.col-one-third {
  padding-left: 2em;

  @include breakpoint($bp-med) {
    float: right;
    width: 33.333%;
  }

  .columns-two-thirds--left & {
    @include breakpoint($bp-med) {
      float: left;
    }
  }
}

