
.quote-block {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .wrap {
    max-width: 50.6875em;
  }
}

.quote-icon {
  text-align: center;
}

.quote-icon-svg {
  color: $link-color;
}

.quote-block-body {
  margin-top: 1em;

  p {
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.4;
    font-style: normal;
  }
}

.quote-block-citation {
  margin-top: 1.5em;
  font-size: 1em;
  line-height: 1.2;

  &:before {
    content: none;
  }
}

.quote-name {
  display: block;
  color: #fff;
  font-size: 1.3125em;
  font-weight: 700;
}

.quote-title {
  display: block;
  margin-top: .5em;
  color: $link-color;
  font-weight: 700;
  letter-spacing: .0625em;
}
