.logo-block{
  padding: 1em 0 4em 0;
  h4{
    border-bottom: 1px solid #EBEBEB;
    line-height: 3;
    font-weight: 500;
  }
  .logo-item-block{
    .flexbox &{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      img{
        margin: 0.8em;
      }
    }
  }
}
