


/*
.navigation--main{
  .para-main:hover > li a{
    transition: .5s ease-in;
    opacity: 0.5;
  }
  ul:hover li a:hover{
    transition: .5s ease-in;
    opacity: 1.0;
  }
  ul{
    margin-top: 0.7em;
    @include breakpoint($bp-large){
    margin-top: 1.4em;
    }
  }
}

*/
.navigation--main{
  ul{
    margin-top: 0.7em;
    @include breakpoint($bp-large){
    margin-top: 1.4em;
    }
  }
}

.sub-menu .current-menu-item>a{
  position: relative;
  &:after{
    .flexbox &{
      display: flex;
      content: "";
      background-image: none;
    }
  }
}





.secondary-menu-top-bar{
  background: $para-teal-dark;
  display: none;
  @include breakpoint($bp-large){
    display: block;
  }
  .wrap{

    .navigation--main {
      position: relative;
      z-index: 53;
      .flexbox &{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      > ul{
        margin-top: -2px;
      }
       li {
        position: relative;
        background: $para-orange;
        padding: 0 0.5em;
        padding-left: 2.6em;
        &:hover{
          background: #0091B2;
        }
       &:first-child{
         &:after{
           content: url('../img/icons/about-icon.png');
           position: absolute;
           left: 28px;
           top: 15px;
         }
       }
       &:nth-child(2){
         &:after{
           content: url('../img/icons/contact-icon.png');
           position: absolute;
           left: 28px;
           top: 15px;
         }
       }
       &:nth-child(3){
         &:after{
           content: url('../img/icons/client-icon.png');
           position: absolute;
           left: 28px;
           top: 15px;
         }
       }
      }

      a {
        display: block;
        padding: 1em;
        color: white;
        font-family: $heading-font-family;
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.2;
        text-decoration: none;
        &:hover:after{
          .flexbox &{
          }
        }
        @include breakpoint($bp-large) {
          @include font-size(18);
        }

        @include breakpoint($bp-xl) {
          @include font-size(18);
        }

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      > ul {
        > li {
          + li {
          }
        }
      }

      .sub-menu {
        @include list-reset;
        position: absolute;
        left: -9999px;
        top: 100%;
        margin: 0;
        padding: .5em 0;
        min-width: 12.5em;
        text-align: left;
        opacity: 0;
        transition: opacity 100ms linear;
        background: $para-purple;
        li {
          display: block;
          margin: 0;
          background: $para-purple;
        }

        a {
          transition: .5s ease-in;
          padding: .5em 1em;
          font-size: 1em;
          position: relative;
        }
      }

      li {
        &:hover,
        &.is-active {
          > .sub-menu {
            left: 0px;
            opacity: 1;
            top: 57px;
            width: 238px;
            background-image: none;
          }
        }

        &:last-child {
          &:hover,
          &.is-active {
            > .sub-menu {
              left: auto;
              right: 0;
            }
          }
        }
      }

      .sub-menu li {
        &:hover,
        &.is-active {
          > .sub-menu {
            left: 100%;
            top: 0;
          }
        }
      }
    }
  }
}
.header-col-2{

  .navigation--main {
    position: relative;
    z-index: 51;

    li {
      position: relative;
    }
    li.current-menu-item{
      &:after{
        .flexbox &{
          display: flex;
          content: "";
           height: 20px;
           width: 100%;
           position: absolute;
           bottom: -3px;
           left: 0;
           border-bottom: 11px solid $para-orange;
        }
      }
    }
    a {
      display: block;
      padding: .5em .15em 1.5em;
      color: white;
      font-family: $heading-font-family;
      font-size: 1em;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1.2;
      text-decoration: none;
      &:hover:after{
        .flexbox &{
          display: flex;
          content: "";
           height: 20px;
           width: 100%;
           position: absolute;
           bottom: -3px;
           left: 0;
           border-bottom: 11px solid $para-orange;
        }
      }
      @include breakpoint($bp-large) {
        @include font-size(18);
      }

      @include breakpoint($bp-xl) {
        @include font-size(18);
      }

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    > ul {
      > li {
        + li {
          margin-left: 1.5em;
        }
      }
    }

    .sub-menu {
      @include list-reset;
      position: absolute;
      left: -9999px;
      top: 100%;
      margin: 0;
      padding: .5em 0;
      min-width: 12.5em;
      text-align: left;
      opacity: 0;
      transition: opacity 100ms linear;
      background: $para-purple;
      li {
        display: block;
        margin: 0;
      }

      a {
        transition: .5s ease-in;
        padding: .5em 1em;
        font-size: 1em;
        position: relative;
      }
    }

    li {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: 1px;
          opacity: 1;
          top: 61px;
          width: 238px;
          background-image: none;
        }
      }

      &:last-child {
        &:hover,
        &.is-active {
          > .sub-menu {
            left: auto;
            right: 0;
          }
        }
      }
    }

    .sub-menu li {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: 100%;
          top: 0;
        }
      }
    }
  }
}

.innerpage-header{
  .header-col-2{
    margin-bottom: 1.5em;
  }
}



.secondary-menu-top-bar .wrap .navigation--main .sub-menu li:first-child:after{
content: "fdfdf";
display: none;
}
.secondary-menu-top-bar .wrap .navigation--main .sub-menu li:nth-child(2):after{
content: "fdfdf";
display: none;
}
.secondary-menu-top-bar .wrap .navigation--main .sub-menu li:nth-child(3):after{
content: "fdfdf";
display: none;
}
.secondary-menu-top-bar .wrap .navigation--main .sub-menu li{
  padding-left: 0;
  a{
    &:hover{
      color: $para-orange;
    }
  }
}


.header-col-2 .navigation--main .sub-menu a:hover:after{
  &:hover{
    border-bottom: none;
  }
}
.header-col-2 .navigation--main .sub-menu li.current-menu-item:after{
  border-bottom: none !important;
}

.header-col-2 .navigation--main .sub-menu a:hover:after{
  border-bottom: none !important;
}
.header-col-2 .navigation--main .sub-menu a:hover{
  color: $para-orange !important;
}
