

.mobile-nav-tray {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  overflow-y: scroll;
  transition: transform 350ms;
  background-color: $para-teal-dark;
  @include breakpoint($bp-med) {
    display: none;
  }

  .admin-bar & {
    padding-top: 2.875em;
  }

  .show-nav & {
    transform: translateX( -100% );
    transform: translate3d( -100%, 0, 0 );

    @include breakpoint($bp-med) {
      transform: translateX( 0 );
      transform: translate3d( 0, 0, 0 );
    }
  }
}


.navigation--mobile {
  padding: 0.5em 0 1em;
}

.mobile-nav-header {
  padding: 0 1em;
  .flexbox &{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    display: inline-block;
    vertical-align: top;
  }
  .site-branding{
    margin-left: 1em;
  }
}

.mobile-nav {

  @include list-reset;
  margin-top: 0.7em;
  padding-top: 1em;
  border-top: 1px solid #dedede;
  + .mobile-nav {
    margin-top: 1em;
  }

  ul {
    @include list-reset;
  }

  li {
    margin: 0;
    + li {}
  }

  a {
    display: block;
    padding: .25em 1.5em;
    color: white;
    font-family: $heading-font-family;
    font-weight: 600;
    text-align: left;
    text-decoration: none;
    transition: color 500ms;
    text-transform: uppercase;
    @include font-size(18);
    &:hover,
    &:focus {

    }
  }

  .sub-menu {
    display: none;

    a {
      font-size: 1.125em;
    }
  }
}

.mobile-nav--main {

}

.mobile-nav--utility {
  a {
    font-size: 1em;
  }
}


.mobile-nav--search {
  margin-top: 2em;
  padding: 0 1em;

  .search-bar {
    .search-submit {
      border-color: $base-font-color;
      font-size: 1.1875em;
      background: $base-font-color;

      &:hover,
      &:focus {
        background: $base-font-color;
        border-color: $base-font-color;
      }
    }

    .search-field {
      border: 1px solid $base-font-color;
      border-radius: 3px;
      font-size: 1.1875em;

      &:focus {
        border-color: $base-font-color;
      }
    }
  }
}


.sub-menu{
  background-color: $para-purple;
  li{
    border: none !important;
  }
}

.mobile-nav--main .menu-item-has-children>a{
  &:after{
    content: "";
    display: inline-block;
    background-image: url(../svg/icons/mobile-carrot.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-position: 0px 6px;
    margin-left: 0.9em;
  }
}

.mobile-nav--main .menu-item-has-children > a.open {
  &:after{
    content: "";
    display: inline-block;
    background-image: url(../svg/icons/mobile-carrot-down.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-position: 0px 6px;
    margin-left: 0.9em;
  }
}
