
.sidebar-nav {

  ul {
    @include list-reset;
  }

  li {
    display: block;
    margin: 0;
    line-height: 28.25px;
    &:first-child{
    border-top: 1px solid #ebebeb;
    }
  }

  a {
    display: block;
    border-bottom: 1px solid #EBEBEB;
    padding: 1em;
    color: $para-teal;
    text-transform: uppercase;
    text-decoration: none;
    background: white;
    text-align: left;
    font-weight: 600;
    @include font-size(15);
    transition: background-color 500ms, color 500ms;

    &:hover,
    &:focus {

    }
  }

  .children {
    display: none;
    margin-left: 1em;
  }

  .current_page_item {
    > a {

    }
  }

  .current_page_ancestor {}

  .current_page_item,
  .current_page_ancestor {
    > .children {
      display: block;
    }
  }
}
