
.navigation--utility {
  padding: .15em .5em;
  background: #eee;

  li {
    + li {
      padding-left: .75em;
      border-left: 1px solid $border-color;
    }
  }

  a {
    @include font-size(14);
    color: $link-color;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: $transition-fast;

    &:hover,
    &:focus {
      color: $link-color--hover;
    }
  }

  li.current_page_item a,
  li.current_page_parent a {
    color: $link-color--hover;
  }

  .sub-menu {
    display: none;
  }
}
