//
//  Breakpoint
//  http://breakpoint-sass.com
//-------------------------------------------------------

@include breakpoint-set('to ems', true);
@include breakpoint-set('no query fallbacks', false);
@include breakpoint-set('default media', screen);

$bp-xsmall: 20em;   // 320px
$bp-small:  30em;   // 480px
$bp-med:    47.5em; // 760px
$bp-large:  60em;   // 960px
$bp-para-large: 62.5em; // 1000px
$bp-xl:     75em;   // 1160px
$bp-para-xl: 77.5em; // 1240px
$bp-mega:   90em;   // 1440px
$bp-mega-1: 1500px;
$bp-mega-2: 1800px;
