//
//
//    MASTER VARIABLES!!!!1
//
//___________________________________________________


//
// Typography
//___________________________________________________

$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;



//
// Colors
//___________________________________________________




/**
 * Paragon Colors
 */

$para-teal: #0091b2;
$para-orange: #F26E26;
$para-purple: #5e235a;
$para-maroon: #a91d53;
$para-teal-dark: #006072;
$para-gray: #ebebeb;
$para-black: #333333;

/**
 * Defaults
 */

$primary-color: #fff;
$secondary-color: #333;
$tertiary-color: #555;
$quaternary-color: #666;
$primary-color-opaque: rgba(255,255,255,0.8);
$red-dark: #B20000;



/**
 * Brand Colors
 */

$brand-off-white: #f7f6f4;
$brand-black: #232323;
$brand-light-grey: #f8f7f5;
$brand-dark-grey: #4c4c4c;

$brand-blue: #00b6db;

$social-fb: #78C9FC;
$social-tw: #347dab;



/**
 * Typography Colors
 */

$base-font-color: $brand-black;

$heading-color: $brand-black;

$link-color: $para-teal;
$link-color--hover: $para-orange;

$bullet-color: $brand-blue;


// Button Colors

$button-color: $brand-black;
$button-color--hover: darken($button-color, 15%);


/**
 * Block Colors
 */

$bkg-white: #fff;
$bkg-black: #000;
$bkg-light-grey: $brand-light-grey;


$border-color: $brand-light-grey;





//
// Layout
//___________________________________________________

$max-width: 77em; // 1200px + 2em padding ($max-width-spacing)
$max-width--large: 79em; // 1200px + 4em padding ($max-width-spacing--large)
$max-width--small: 60.25em; // 932px + 2em padding ($max-width-spacing)

$max-width-spacing: 0 1em;
$max-width-spacing--large: 0 2em;

$padding: 3em;
$padding-medium: 3em;
$padding-large: 4em;

$vertical-padding: 3em 0;
$vertical-padding-medium: 3em 0;
$vertical-padding-large: 4em 0;

$horizontal-padding: 0 3em;
$horizontal-padding-medium: 0 3em;
$horizontal-padding-large: 0 4em;



//
// Design/Animation
//___________________________________________________


// default border radius
$border-radius: 3px;


// transitions
$transition: all 1s;
$transition-fast: all .5s;
$transition-faster: all .25s;
$transition-slow: all 2s;
$transition-slower: all 2.5s;
